{% extends 'base.html' %}
{% block content %}

<!--{% load static %}-->
<!DOCTYPE html>
<html lang="en">
<head>
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div class="jumbotron jumbotron-fluid bg-light text-black">
  <div class="container">
    <h1 class="display-4">Blog</h1>
    <p class="lead">This is a bare-bones blog, designed to document my progress</p>
  </div>
</div>

<br>
{% for instance in object_list %}
<div class="row">
    <div class="container">
        <img class="img-fluid" src="{{instance.image.url}}">
        <p><a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a>
        </p>

    </div>
    <br>
</div>
{% endfor %}



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
{% endblock %}

</html>