{% extends 'base.html' %}
{% block content %}

{% load static %}

<!--Section: Contact v.2-->
<section class="mb-4">
<h2 class="h1-responsive font-weight-bold text-center my-4">Contact Me</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Please do not hesitate to contact me directly.</p>
    <!--Section heading-->
    <div class="row">
        <div class="col-md-4 col-md-offset-4">second row</div>
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                    <div class="col-md-6">
                        <div class="md-form md-6">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>

            </form>

    </div>

</section>
{% endblock %}